@*<script>
    alert("Hello JavaScript");
</script>*@

@*<script>
    alert(15 + 25);
</script>*@

@*<h1>GPA Calculator</h1>

<form>
    <input id="class1" type="text" placeholder="Enter Letter Grade" />
    <input id="class2" type="text" placeholder="Enter Letter Grade" />
    <input id="class3" type="text" placeholder="Enter Letter Grade" />
    <input id="class4" type="text" placeholder="Enter Letter Grade" />
    <input id="class5" type="text" placeholder="Enter Letter Grade" />

    <input type="button" value="Calculate" onclick="calculateGPA()"/>
</form>

<h3 id="GPA">GPA:</h3>*@

<script>
    let message;
    message = 'Hello!';
    message = 'World!'; // value changed
    alert(message);
 </script>